env.sh

# The new-style uuid image filenames
# The image files already tracked by git will remain. Those are the ones
# required for the built-in test models. We could remove them and the profiles
# would just not have pictures. And for the fallback `anon.jpg` the browser
# would fail to find it.
static/uploads/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.komodoproject
*.db

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#pycharm
.idea/

#database
*db-journal

#emacs
*~

# Flask Instance Folder
instance
