html {
  height: 100%;
  background: url('../img/symphony.png');
}

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 50px;
  height: 100%;
  background: url('../img/symphony.png');
}

.navbar-brand, .staff-name {
    /*font-family: 'Merriweather', serif;*/
    font-weight:100;
    font-size:200%;
}

.staff-name {
  text-decoration: none;
  color: #1e1e1e;
}

.staff-name:hover, a:hover {
  text-decoration: none;
  color: #bebebe;
}

.staff-profile {
    margin-bottom: 2em;
}

a:hover {
  cursor: pointer;
}

/*
section#staff:target {
    padding-top: 50px;
}*/

.flash, .error {
    /*background: #F0D6D6;*/
    color: red;
    padding: 0.5em;
}

.navbar-default {
  background: rgba(255, 255, 255);
  border: none;
  border-bottom:1px solid black;
}

#wrap {
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: -60px;
  padding-bottom: 110px;
}

#wrap:after {
  content: "";
  display: block;
}

#footer {
  height: 60px;
  background-color: #ddd;
  text-align: center;
  line-height: 60px;
  width: 100%;
  overflow: hidden;
}

section#header {
    background-image: url("/static/img/hero-small.jpeg");
    background-size: cover;
    text-align: center;
    padding: 40px;
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);
    /*margin-bottom: 20px;*/
}

section#header h2, section#header h3 {
    color: #FFF8DC;
    text-shadow: 1px 1px 2px black;
}

section#header h3 {
  margin-bottom: 20px;
}

.bio {
  padding-top: 40px;
  font-size: 16px;
  text-align: left;

}


p.truncated-bio{
    font-size:110%;
}

div.home-container{
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,.70);
    padding-top:20px;
    border:1px solid rgb(200,200,200);
}

div.staff-image{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}