body{
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4{
  font-family: 'Merriweather', serif;
}

.container {
    background: #f4f4f4;
    margin: 2em auto;
    padding: 0.8em;
    widows: 30em;
    border: 2px solid #000;
}

.flash, .error {
    background: #F0D6D6;
    color: red;
    padding: 0.5em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
