html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
}

.navbar-brand, .staff-name {
  font-family: 'Merriweather', serif;
}

.staff-name {
  text-decoration: none;
  color: #1e1e1e;
}

.staff-name:hover, a:hover {
  text-decoration: none;
  color: #bebebe;
}

.staff-profile {
    margin-bottom: 2em;
}

a:hover {
  cursor: pointer;
}

section#staff:target {
    padding-top: 50px;
}

.flash, .error {
    background: #F0D6D6;
    color: red;
    padding: 0.5em;
}

.navbar-default {
  /*background: rgba(255, 255, 255, 0.5);*/
  border: none;
}

#wrap {
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: -60px;
  padding-bottom: 110px;
}

#wrap:after {
  content: "";
  display: block;
}

#footer {
  height: 60px;
  background-color: #ddd;
  text-align: center;
  line-height: 60px;
  width: 100%;
  overflow: hidden;
}

#footer ul li {
    display: inline-block;
}

.footer-center {
    margin: 0 2em;
}

section#header {
    background-image: url("/static/img/hero-small.jpeg");
    background-size: cover;
    text-align: center;
    padding: 40px;
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

section#header h2, section#header h3 {
    color: #FFF8DC;
    text-shadow: 1px 1px 2px black;
}

section#header h3 {
  margin-bottom: 20px;
}

.bio {
  padding-top: 40px;
  font-size: 16px;
  text-align: left;

}

.bio div {
    margin: 1em 0;
}
