{% macro required_icon() %}<span style="color: #a94442; font-size: .7em;" class="glyphicon glyphicon-asterisk"></span> {% endmacro %}

{% macro email_icon() %}<span style="color: #337ab7;" class="glyphicon glyphicon-envelope"></span> {% endmacro %}

{% macro info_sign() %}<span style="color: #31708f;" class="glyphicon glyphicon-info-sign"></span>{% endmacro %}

{% macro exclamation_sign() %}<span style="color: #a94442;" class="glyphicon glyphicon-exclamation-sign"></span> {% endmacro %}

{% macro remove_icon() %}<span class="glyphicon glyphicon-remove"></span> {% endmacro %}
