{% from 'macros/core.html' import static_image %}

{% macro twitter() -%}
<a href="https://www.twitter.com/kentonlibrary "><i class="fa fa-twitter-square fa-lg"></i></a>
{%- endmacro %}

{% macro facebook() -%}
<a href="https://www.facebook.com/KentonCountyPublicLibrary/"><i class="fa fa-facebook fa-lg"></i></a>
{%- endmacro %}

{% macro youtube() -%}
<a href="https://www.youtube.com/user/kentonlib"><i class="fa fa-youtube-play fa-lg"></i></a>
{%- endmacro %}

{% macro instagram() -%}
<a href="https://www.instagram.com/kentonlibrary/"><i class="fa fa-instagram"></i></a>
{%- endmacro %}

{% macro pinterest() -%}
<a href="https://www.pinterest.com/kentonlibrary/"><i class="fa fa-pinterest"></i></a>
{%- endmacro %}
