{% extends "base.html" %}

{% block head %}
{{ super() }}
{{ js_init_tablesorter() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Welcome to the Staff Page for the Library Site</h2>
        <p>Hello, {{ session.logged_in_name }}</p>
        {%- if session.logged_in_name == 'admin' -%}
        <div class="col-sm-6"> <!--Add new staff member-->
            <form action="{{ url_for('adduser')}}" method="POST" class="add">
                <h3>Add a new staff member</h3>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" name="username" type="text">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="text">
                </div>
                <div class="form-group">
                    <label for="f_name">First Name</label>
                    <input class="form-control" id="f_name" name="f_name" type="text">
                </div>
                <div class="form-group">
                    <label for="l_name">Last Name</label>
                    <input class="form-control" id="l_name" name="l_name" type="text">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input class="form-control" id="phone" name="phone" type="text">
                    <p>Include area code</p>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" name="email" type="email">
                </div>
                <button role="button" class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
        <div class="col-sm-6">  <!--Patron contact tracking-->
            {% include "patron_requests.html" %}

        </div>
        {% endif -%}
    </div>
    <div class="row">
        <h3>Current Staff</h3>
        {%- for s in staff -%}
        <div class="col-md-6 staff-profile">
            <div class="table-responsive">
                <table class="table">
                    <caption><h4>{{ s.f_name }} {{ s.l_name }}</h4></caption>
                    <tbody>
                        <tr>
                            <td>Phone&nbsp;#: </td>
                            <td>{{ s.phonenumber }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ s.emailaddress }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a class="btn btn-default" role="button" href="{{ url_for('edit_profile', uname=s.username) }}">Edit Profile</a>
                {% if s.username != 'admin' %}
                <form style="display: inline-block;" class="form-horizontal" role="form" method="POST" action="{{ url_for('deleteuser', username=s.username) }}">
                    <button role="button" class="btn btn-danger" type="submit">Delete</button>
                </form>
                {% endif %}
            </div>
        </div>
        {%- endfor -%}
    </div>

    <div class="row">
        <h3>Reading List:</h3>
        {% include "user_readinglist.html" %}
    </div>
</div>
{% endblock %}
