{% extends 'skeleton.html' %}

{% from 'macros/core.html' import button, stylesheet %}
{% from 'macros/icons.html' import exclamation_sign, info_sign %}

{% block head %}
{{ super() }}
{{ stylesheet(url_for('static',filename='css/bootstrap.min.css')) }}
{{ stylesheet("https://fonts.googleapis.com/css?family=Lato:400|Merriweather:700") }}

<meta name="viewport" content="width=device-width, initial-scale=1">

{{ stylesheet(url_for('static', filename='css/theme.default.min.css')) }}
{{ stylesheet(url_for('static', filename='css/styles.css')) }}

<script src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
{% endblock head %}

{% block body %}

{% include 'navbar.html' %}

<div id="wrap">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info">{{ info_sign() }}{{ message }}</div>
    {% endfor %}
    {% if error %}
    <div class="alert alert-danger">{{ exclamation_sign() }}<strong>Error: </strong>{{ error }}</div>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>

{% include 'footer.html' %}

{% endblock body %}
