{% extends 'skeleton.html' %}

{% from 'macros.html' import ask_what_read, book_image, button, category_tag,
                             contact, email_icon, exclamation_sign, facebook,
                             info_sign, js_init_tablesorter, label_text,
                             link_button, linkedin, mailto, profilepic,
                             required_icon, submit, text_link, twitter
                             %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400|Merriweather:700">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.default.min.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">


<script src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
{% endblock head %}

{% block body %}

{% include 'navbar.html' %}

<div id="wrap">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info">{{ info_sign() }}{{ message }}</div>
    {% endfor %}
    {% if error %}
    <div class="alert alert-danger">{{ exclamation_sign() }}<strong>Error: </strong>{{ error }}</div>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>{{ text_link('Developed by CincyPy', 'javascript:;') }}</li>
        </ul>
        <ul class="nav navbar-nav">
            <li>{{ text_link('About Us', 'javascript:;') }}</li>
            <li>{{ text_link('Contact Support', 'javascript:;') }}</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>{{ twitter() }}</li>
            <li>{{ facebook() }}</li>
            <li>{{ linkedin() }}</li>
        </ul>
    </div>
</nav>

{% endblock body %}
