{% extends 'skeleton.html' %}

{% from 'macros.html' import ask_what_read, button, submit, link, label_text,
                             js_init_tablesorter, profilepic, twitter,
                             facebook, linkedin %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400|Merriweather:700">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.default.min.css') }}">
<script src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
{% endblock head %}

{% block body %}

{% include 'navbar.html' %}

<div id="wrap">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {% if error %}
    <div class="alert alert-danger"><strong>Error: </strong>{{ error }}</div>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>

{# XXX: I don't know what to do here #}
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <ul class="nav navbar-nav navbar-left">
            <li>{{ link('Developed by CincyPy', url_for('main')) }}</li>
        </ul>
        <ul class="nav navbar-nav">
            <li>{{ link('About Us', url_for('main')) }}</li>
            <li>{{ link('Contact Support', url_for('main')) }}</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>{{ twitter() }}</li>
            <li>{{ facebook() }}</li>
            <li>{{ linkedin() }}</li>
        </ul>
    </div>
</nav>

{#
<footer class="footer" id="footer">
{% block footer %}
{% endblock footer %}
</footer>
#}

{% endblock body %}
