{% extends "base.html" %}

{% macro required() -%}
<strong><abbr title="This field is required.">{{ required_icon() }}</abbr></strong>
{%- endmacro %}

{% macro contact_radio(value, text) -%}
<div class="radio">
    <label for="contact-by-{{ value }}">
        <input id="contact-by-{{ value }}"
               type="radio"
               name="contact"
               value="{{ value }}"
               onclick="contactChange()">{{ text }}</label>
</div>
{%- endmacro %}

{% macro audience_checkbox(value, text) -%}
<div class="checkbox">
    <label for="audience-{{ value }}"><input id="audience-{{ value }}" type="checkbox" name="audience" value="{{ value }}">{{ text }}</label>
</div>
{%- endmacro %}

{% macro preferred_format_checkbox(value, text) -%}
<div class="checkbox">
    <label for="preferred-format-{{ value }}">
        <input id="preferred-format-{{ value }}"
               type="checkbox"
               name="format_pref"
               value="{{ value }}">{{ text }}</label>
</div>
{% endmacro %}

{% block head %}
{{ super() }}
<script>

function contactChange() {
    var pref = $('input[name="contact"]:checked').val();
    if (pref === 'email') {
        $('#email_input').removeClass('hidden');
        $('#phone_input').addClass('hidden');
        $('#chat_input').addClass('hidden');
        $('#times_input').addClass('hidden');
    } else {
        $('#times_input').removeClass('hidden');
        $('#email_input').addClass('hidden');
        $('#phone_input').addClass('hidden');
        $('#chat_input').addClass('hidden');
        if (pref === 'phone') {
            $('#phone_input').removeClass('hidden');
            $('#chat_input').addClass('hidden');
        } else {
            if (pref === 'chat') {
                $('#phone_input').addClass('hidden');
                $('#chat_input').removeClass('hidden');
            }
        }
    }
}

$(function() {
    $("#conversation-type").find("input[type=radio]").first().prop("checked", true);
    contactChange();
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Contact {{ staff }}</h2>
    <form method="POST" action="{{ url_for('contact', uname=staff) }}" role="form">
        <fieldset id="conversation-type">
            <legend>How do you want to have this conversation?</legend>
            <p>Required fields are followed by {{ required() }}.</p>
            {% if pref.email %}
            {{ contact_radio('email', 'Email') }}
            {% endif %}
            {% if pref.phone %}
            {{ contact_radio('phone', 'Phone') }}
            {% endif %}
            {% if pref.chat %}
            {{ contact_radio('chat', 'Online Chat') }}
            {% endif %}
            {% if pref.irl %}
            {{ contact_radio('irl', 'In Person') }}
            {% endif %}
            <p class="form-control-static">Pick one.</p>
        </fieldset>

        {% if pref.email %}
        <div class="hidden" id="email_input">

            <div class="form-group">
                <label for="likes">Tell us about a few books or authors you've enjoyed. What made these books great?</label>
                <textarea id="likes" class="form-control" name="likes">{{ inputs.likes }}</textarea>
            </div>

            <div class="form-group">
                <label for="dislikes">Describe some authors or titles that you DID NOT like and why</label>
                <textarea id="dislikes" class="form-control" name="dislikes">{{ inputs.dislikes }}</textarea>
            </div>

            <div class="form-group">
                <label for="comment">Is there anything else you'd like to tell us about your interests, reading or otherwise, that would help us make your list?</label>
                <textarea id="comment" class="form-control" name="comment">{{ inputs.comment }}</textarea>
            </div>

            <fieldset>
                <legend>Are you interested in books for adults, teens, or children?</legend>
                {{ audience_checkbox('adults', 'Adults') }}
                {{ audience_checkbox('teens', 'Teens') }}
                {{ audience_checkbox('children', 'Children') }}
                <p class="form-control-static">Check all that apply.</p>
            </fieldset>

            <fieldset>
                <legend>Do you have a preferred format?</legend>
                {{ preferred_format_checkbox('book', 'Book') }}
                {{ preferred_format_checkbox('lg_print', 'Large Print') }}
                {{ preferred_format_checkbox('cd', 'Audiobook on CD') }}
                {{ preferred_format_checkbox('ebook', 'E-book') }}
                {{ preferred_format_checkbox('digital_audio', 'Digital audiobook') }}
                <p class="form-control-static">Check all that apply.</p>
            </fieldset>
        </div>
        {% endif %}

        {% if pref.phone %}
        <div class="hidden form-group" id="phone_input">
            <label for="phone" class="form-label">Please enter your phone number (incl area code) {{ required() }}<input id="phone" type="text" placeholder="555-555-5555" class="form-control" name="phone" value="{{ inputs.phone }}"></label>
        </div>
        {% endif %}

        {% if pref.chat %}
        <div class="hidden" id="chat_input">
            <div class="hidden form-group" >
                <label for="chat">Select the online chat service {{ required() }}</label>
                <select id="chat" class="form-control" name="chat">
                   <option value="" selected="selected">- Select -</option>
                   <option value="google">Google+</option>
                   <option value="skype">Skype</option>
                </select>
            </div>
            <div class="form-group">
                <label for="handle" class="form-label">What's your chat handle? {{ required() }}</label>
                <input id="handle" type="text" class="form-control" name="handle" value="{{ inputs.handle }}">
            </div>
        </div>
        {% endif %}

        <div class="hidden form-group" id="times_input">
            <label for="times">What time works for you?</label>
            <input id="times" type="textarea" class="form-control" placeholder="Suggest a couple days and times. We will email or phone to confirm." name="times" value="{{ inputs.times }}">
        </div>

        <fieldset>
            <legend>Your Contact Information</legend>
            <div class="form-group">
                <label for="name">Your name {{ required() }}</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ inputs.name }}" size="35" maxlength="128">
            </div>
            <div class="form-group">
                <label for="email">Email Address {{ required() }}</label>
                <input type="email" id="email" name="email" class="form-control" value="{{ inputs.email }}" size="35">
            </div>
        </fieldset>

        <input type="submit" value="Submit" id="submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}
