{% from 'macros/social.html' import twitter, facebook, youtube, instagram, pinterest %}

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#library-footer">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
        </div>
        <div class="collapse navbar-collapse" id="library-footer">
            <ul class="nav navbar-nav">
                <li><a href="javascript:;">Developed by CincyPy</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="javascript:;">About Us</a></li>
                <li><a href="javascript:;">Contact Support</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{{ twitter() }}</li>
                <li>{{ facebook() }}</li>
                <li>{{ youtube() }}</li>
                <li>{{ instagram() }}</li>
                <li>{{ pinterest() }}</li>
        </div>
    </div>
</nav>
