{% extends "base.html" %}

{% block head %}
{{ super() }}
{{ js_init_tablesorter() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Welcome to the Librarian Staff Page for the Library Site</h2>
        <p>Hello, {{ session.logged_in_name }}</p>
        {% if session.logged_in_name != 'admin' %}
        <h3>Add a recommended reading</h3>
        <form role="form" action="{{ url_for('addrecread')}}" method="POST">
            <fieldset class="form-group">
                <label for="book">Book</label>
                <input class="form-control" name="book" type="text">
            </fieldset>
            <fieldset class="form-group">
                <label for="ISBN">ISBN</label>
                <input class="form-control" name="ISBN" type="text">
            </fieldset>
            <fieldset class="form-group">
                <label for="author">Author</label>
                <input class="form-control" name="author" type="text">
            </fieldset>
            <fieldset class="form-group">
                <label for="comment">Comment</label>
                <input class="form-control" name="comment" type="text">
            </fieldset>
            <fieldset class="form-group">
                <label for="url">Category</label>
                <input class="form-control" name="category" type="text">
            </fieldset>
            <fieldset class="form-group">
                <label>Sticky</label>
                <div class="radio">
                    <label for="sticky-yes"><input id="sticky-yes" name="sticky" type="radio" value='1'>Yes</label>
                </div>
                <div class="radio">
                    <label for="sticky-no"><input id="sticky-no" name="sticky" type="radio" value='0' checked>No</label>
                </div>
            </fieldset>
            <button role="button" class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
    {% endif %}

    <div class="row">
        <h3>Reading List</h3>
        {% include "user_readinglist.html" %}
    </div>
</div>
{% endblock %}
