{% extends "template.html" %}
{%  block nav_right %}
    {% if session.logged_in == True %}
        {{ session.logged_in_name }}
        <a href="{{ url_for('logout') }}" style="text-decoration: none">Logout</a>
        <a href="{{ url_for('edit_profile', uname=session.logged_in_name) }}">Edit Profile</a>
    {% else %}
        <a href="{{ url_for('login') }}" style="text-decoration: none">Login</a>
    {% endif %}
{% endblock %}

{% block content %}
  <section id="header">
    <h2>Welcome to the Library Site!</h2>
    <h3>Here you can learn more about your librarians and get personalized book recommendations</h3>
    <a href="#staff"><button class="btn" >Browse our current staff</button></a>
    <!-- <h3>Current Staff: </h3> -->
  </section>
  <section id="staff">
    <div class="container">
      <div class="row">
      {% for staff in staff %}
        <div class="col-md-4 col-sm-6">
          <a href="{{ url_for('profile', uname=staff.username) }}">
          {% include "user_profile.html" %}
          </a>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>


{% endblock %}
