{% extends "base.html" %}

{% block content %}
<section id="header">
    <h2>Welcome to the Library Site!</h2>
    <h3>Here you can learn more about your librarians and get personalized book recommendations</h3>
    <a href="#staff" class="btn btn-info" role="button">Browse our current staff</a>
</section>

<section id="staff">
    <div class="container home-container">
        <!--<div class="row">-->
	{% set count = 0 %}
        {% for staff in staff %}
	    {% if count % 2 == 0 %}
	        <div class="row">
            {% endif %}
            <div class="col-md-6 staff-profile">
	      <div class="row">
		<div class="col-md-12">
		  <a href="{{ url_for('profile', uname=staff.username) }}">
		  <h4 class="staff-name">{{ staff.f_name }} {{ staff.l_name }}</h4>
		  </a>
		</div>
		<div class="col-md-6">
		  <a href="{{ url_for('profile', uname=staff.username) }}">
		    <div class="staff-image" style="background-image:url('http://loremflickr.com/250/250/1000faces')"></div>
		  </a>
                </div>
		<div class="col-md-6">
		  
                  <p class="truncated-bio">{{ staff.bio|truncate(200) }}
		  <a href="{{ url_for('profile', uname=staff.username) }}">Find out more</a></p>
                <p>{{ ask_what_read(staff) }}</p>
                <!-- To add if we want to show categories on main page -->
               <!--  {% for category in staff.category_list %}
                <button type="button" class="btn btn-primary btn-xs"> {{ category }} </button>
                {% endfor %} -->
		</div>
	       </div>
            </div>
	    {% if count % 2 == 1 %}
	        </div>
            {% endif %}
	    {% set count = count + 1 %}
        {% endfor %}
        <!--</div>-->
    </div>
</section>
{% endblock content %}
