{% macro request_content() -%}
    <b>Contact Method: </b>{{ req.contact }}</br>
    {% if req.contact == 'chat' %}
        <b>Chat service: </b>{{ req.chat }}</br>
        <b>Chat handle: </b>{{ req.handle }}</br>
    {% endif %}
    {% if req.contact != 'email' and req.times %}
        <b>Times: </b>{{ req.times }}</br>
    {% endif %}
    {% if req.contact == 'email' %}
        <b>Tell us about a few books or authors you've enjoyed. What made these books great?</b></br>
        {{ req.likes }}</br>
        <b>Describe some authors or titles that you DID NOT like and why.</b></br>
        {{ req.dislikes }}</br>
        <b>Additional comments.</b></br>
        {{ req.comment }}</br>
        <b>Audience: </b>{{ req.audience }}</br>
        <b>Format prefs: </b>{{ req.format_pref }}</br>
    {% endif %}
{%- endmacro %}

<script>
    function view_req{{ req.PCID }}() {
        var formattedBody = "\n\n-- Original Request--\nContact Pref: {{ req.contact }}";
        if ('{{ req.contact }}' == 'email') {
            formattedBody += "\nTell us about a few books or authors you enjoyed. What made these books great?\n {{ req.likes }}";
            formattedBody += "\nDescribe some authors or titles that you DID NOT like and why.\n {{ req.dislikes }}";
            formattedBody += "\nAdditional comments.\n {{ req.comment }}";
            formattedBody += "\nAudience: {{ req.audience }}";
            formattedBody += "\nFormat prefs: {{ req.format_pref }}";
        } else {
            if ('{{ req.contact }}' == 'chat') {
                formattedBody += "\nChat service: {{ req.chat }}";
                formattedBody += "\nChat handle: {{ req.handle }}";
            } else {
                formattedBody += "\nTimes: {{ req.times }}";
            }
        }
        var mailToLink = "mailto:{{ req.email }}&subject=Response from {{ req.username }} at the Kenton County Library&body=" + encodeURIComponent(formattedBody);
        document.getElementById('default_email{{ req.PCID }}').innerHTML = "<strong>Email: </strong><a href='" + mailToLink + "'>{{ req.email }}</a></br>"
    }
</script>

<h3 style="text-align: center; color: blue">Status: {{ req.status }}</h3>

<legend>Contact Info</legend>
<strong>Name: </strong>{{ req.name }}</br>
<div id="default_email{{ req.PCID }}"></div>
{% if req.contact == 'phone' %}
    <strong>Phone: </strong>{{ req.phone }}</br>
{% endif %}
{{ request_content() }}