<style>
    .tablesorter-default td {
        vertical-align: middle;
    }
</style>


<script>
    function edit_status(id, stat) {
        var drpdwn = document.getElementById('edit_status' + id)
        document.getElementById('status_form').action = "{{ url_for('contact_status', PCID=id)}}" + id + "?status=edit";
        document.getElementById('btn' + id).innerHTML = "<input class='btn btn-success btn-sm' type='submit' value='Save'>";
        drpdwn.innerHTML = "<select name='status' id='status" + id + "'> \
                            <option value='open'>open</option> \
                            <option value='contacted'>contacted</option> \
                            <option value='pending'>pending</option> \
                            <option value='closed'>closed</option> \
                        </select>";
        document.getElementById('status' + id).value = stat;
    }
</script>



<h4>Patron Contact Requests</h4>
<form id="status_form" action="" method="POST">
<table class="tablesorter">
    <thead>
        <tr>
            <th>Date</th>
            <th>Patron</th>
            <th>Type</th>
            <th>Status</th>
            <th>View Request</th>
            <th>Edit Status</th>
        </tr>
    </thead>
    <tbody>
        {% for req in patron_reqs|sort(attribute='reqdate', reverse=True)|sort(attribute='status', reverse=True) %}
        <tr>
            <td>{{ req.reqdate }}</td>
            <td>{{ req.name }}</td>
            <td>{{ req.contact }}</td>
            <td id="edit_status{{ req.PCID }}">{{ req.status }}</td>
            <td> <!--View request-->
                <a href='#' class='btn btn-default btn-sm' onclick="view_req{{ req.PCID }}()" data-toggle="modal" data-target="#{{ req.PCID }}">View</a>
                <!-- Modal -->
                <div class="modal fade" id="{{ req.PCID }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Patron Contact Request</h4>
                      </div>
                      <div class="modal-body">
                        {% include "p_request.html" %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
            <td id="btn{{ req.PCID }}">
                <button class='btn btn-primary btn-sm' onclick='edit_status({{ req.PCID }},"{{ req.status }}")'>Edit</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
