{% extends "base.html" %}
{% from 'macros/core.html' import profilepic, submit %}

{% block content %}
    <div class="container">
        <h2>Upload profile picture</h2>
        <p>Currently only .jpg format</p>
        <div class="row">
            <div class="col-md-4">
                <form action="{{ url_for('upload_picture', uname=staff.username) }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf_token" value="{{ _csrf_token }}">
                    <div class="form-group ">
                        <label class="control-label" for="image_file">Image file</label>
                        <input id="image_file" name="image_file" type="file">
                    </div>
                    {{ submit("Submit") }}
                </form>
            </div>
        </div>
        {{ profilepic(staff) }}
    </div>
{% endblock %}
