{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Staff Profile for {{ staff.username }}</h2>
    <form method="POST" action="{{ url_for('edit_profile', uname=staff.username) }}" >
        <div class="form-group">
            <label for="bio">Bio</label>
            <textarea id="bio" class="form-control" name="bio" rows="10">{{ staff.bio }}</textarea>
        </div>
        {{ submit('Update') }}
        {#<button role="button" class="btn btn-primary" type="submit">Update</button>#}
    </form>
</div>
{% endblock %}
