{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="staff-name">{{ staff.f_name }} {{ staff.l_name }}</h4>
            {{ profilepic(staff) }}
        </div>
        <div class="col-sm-6">
            <p class="bio">{{ staff.bio }}</p>
            <p><a href="http://www.kentonlibrary.org/email-newsletter">Sign up </a>for our monthly reading recommendations.</p>
            {{ ask_what_read(staff) }}
            {% if staff.emailaddress %}
            <div>{{ email_icon() }}{{ text_link('Contact ' + staff.f_name, 'mailto:' + staff.emailaddress) }}</div>
            {% endif %}
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <h4>Interests</h4>
                {% if staff.category_list %}
                {% for item in staff.category_list %}
                {{ category_tag(item) }}
                {% endfor %}
                {% else %}
                <p>{{ exclamation_sign() }}{{ staff.f_name }} hasn't tagged any interests yet.</p>
                {% endif %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <h4>{{ staff.f_name }}'s Book Recommendations</h4>
                {% if staff.readinglist %}
                {% for book in staff.readinglist %}
                {{ text_link(book.book) }}
                <p>{{ book.recdate }}</p>
                <div class="col-md-3"><img src="http://catalog.kentonlibrary.org/opac/extras/ac/jacket/medium/{{ book.ISBN }}" ></div></a>
                {% endfor %}
                {% else %}
                <p>{{ exclamation_sign() }}{{ staff.f_name }} has no recommendations yet.</p>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
