{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4 class="staff-name">{{ staff.f_name }} {{ staff.l_name }}</h4>
            {{ profilepic(staff) }}
        </div>
        <div class="col-sm-8 bio">
            <h4>Bio</h4>
            <p>{{ staff.bio }}</p>

            <h4>Interests</h4>
            {% if staff.category_list %}
            {% for item in staff.category_list %} {{ category_tag(item) }} {% endfor %}
            {% else %}
            <div>
                <p>{{ exclamation_sign() }}{{ staff.f_name }} hasn't tagged any interests yet.</p>
            </div>
            {% endif %}

            <div><a href="http://www.kentonlibrary.org/email-newsletter">Sign up </a>for our monthly reading recommendations.</div>

            <div>{{ ask_what_read(staff) }}</div>

            {% if staff.emailaddress %}
            <div>{{ contact(staff) }}</div>
            {% endif %}
        </div>
    </div>
    <section>
        <div class="container">
            <h4>{{ staff.f_name }}'s Book Recommendations</h4>
            <div class="row">
                {% if staff.readinglist %}
                    {% for book in staff.readinglist %}
                <div class="col-md-4">
                    <p>{{ book_image(book) }}</p>
                    <p>{{ text_link(book.book) }}</p>
                    <p>{{ book.recdate }}</p>
                </div>
                    {% endfor %}
                {% else %}
                <div class="col-md-4">
                    <p>{{ exclamation_sign() }}{{ staff.f_name }} has no recommendations yet.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
